.container {
  width: max-content;
  border: none;
}

.btn {
  padding: 20px;
  background-color: #53c28b;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}



/* 

.container {
  padding: 20px;
  background-color: #53c28b;
  border: none;
  border-radius: 5px;
  width: max-content;
}

.btn {
  color: white;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

*/