.container {
  display: flex;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.img {
  object-fit: cover;
}

.title {
  font-size: 30px;
}

.desc {
  font-size: 20px;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
